@model int
@{
    ViewBag.Title = "Not Found";
}
    <h5>@ViewBag.ErrorMessage</h5>
<a asp-controller="Home" asp-action="Index" class="btn btn-outline-success" style="width:auto;">
    Click here to see list of all employees
</a>
