@model List<ApplicationUser>

@{
    ViewBag.Title = "List User";
}

<a asp-controller="Account" asp-action="Register" class="btn btn-primary m-2" style="width:auto;">Create User</a>

@if (Model.Any())
{
    foreach (var user in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                User Id: @user.Id
            </div>
            <div class="card-body">
                <h5>@user.UserName</h5>
            </div>
            <div class="card-footer">
                <a asp-controller="Account" asp-action="EditUser" asp-route-Id="@user.Id" class="btn btn-primary" style="width:auto">Edit User</a>
                <form  asp-controller="Account" asp-action="DeleteUser" method="post">
                    <button type="submit" asp-route-Id="@user.Id" class="btn btn-danger" style="width:auto;">Delete User</button>
                    <a asp-controller="Account" asp-action="DeleteUser" >Delete User</a>
                </form>
                
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No user created yet.
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a user.
            </h5>
            <a asp-action="Register" asp-controller="Account" class="btn btn-primary" style="width:auto;">Create User</a>
        </div>
    </div>
}

